<!-- navbar -->
<div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">Git Search</h5>
                <span class="text-muted">Enter a github username and find the user and get to view repositories.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <br> <br>
   
   <div class="container">
        <div class="row">
                <div class="col-md-3">
                        <app-git-form (emitSearch)="searchThis($event)"></app-git-form>
                </div>
                <div class="col-md-8">
                        <div class="ui segment">
                                <div *ngIf="users">
                                        <div class="card-columns">
                                            <div *ngFor="let user of users">
                                                <div class="card image-card">
                                                    <img src="{{user.avatar_url}}" class="card-img">
                                                </div>
                                            </div>
                        
                                            <div *ngFor="let user of users">
                                                    <p class="userlogin">{{user.login}}</p>
                                                    <div class="ui labeled button" tabindex="0">
                                                            <div class="ui basic blue button">
                                                                <i class="users icon"></i> Followers
                                                            </div>
                                                            <a class="ui basic left pointing blue label">
                                                                    {{user.followers}}
                                                            </a>
                                                          </div>
                                                    <br> <br>
                                                    <div class="ui labeled button" tabindex="0">
                                                            <div class="ui basic blue button">
                                                                <i class="users icon"></i> Following
                                                            </div>
                                                            <a class="ui basic left pointing blue label">
                                                                    {{user.following}} 
                                                            </a>
                                                          </div>
                                                          <br> <br>
                                                          <div class="ui labeled button" tabindex="0">
                                                                <div class="ui red button">
                                                                <i class="folder icon"></i> Repos'
                                                                </div>
                                                                <a class="ui basic black left pointing label">
                                                                        {{user.public_repos}}
                                                                </a>
                                                              </div>
                                                    
                                                   
                                                </div>
                                        </div>
                        </div>
                    </div>
                </div>
           </div>
           <br>
           <a class="ui blue tag label">Repositories.</a>
           <hr>

           <div *ngIf="users" class="float">
                <div class="ui cards">
                        <div class="card" *ngFor="let repo of reposy">
                          <div class="content">
                            <div class="header">{{repo.name}}</div>
                            <div class="description">
                                    Created on:{{repo.created_at}}
                            </div>
                            <div class="ui labeled button" tabindex="0">
                                    <div class="ui basic blue button">
                                      <i class="fork icon"></i> Forks
                                    </div>
                                    <a class="ui basic left pointing blue label">
                                            {{repo.forks_count}}
                                    </a>
                                  </div>
                          </div>
                          <a href="{{repo.html_url}}" target="_blank">
                                <div class="ui bottom attached button">
                                        <i class="eye icon"></i>
                                    View Repo.
                                  </div>
                          </a>
        </div>
    
   </div>
 

 

    <!-- custom card -->

             




              <!-- origin -->
              <!-- <div class="cards">
                    <div class="cards_styling">
                        <div class="card" *ngFor="let repo of reposy" style="width: 21rem;">
                            <div class="card-header">
                                Repo name:{{repo.name}}
                            </div>
                            <div class="card-body">
                                <p>Description</p>
                                <p>Created at:{{repo.created_at}}</p>
                                <div class="ui labeled button" tabindex="0">
                                        <div class="ui basic blue button">
                                          <i class="fork icon"></i> Forks
                                        </div>
                                        <a class="ui basic left pointing blue label">
                                          1,048
                                        </a>
                                      </div>
                                <button class="btn btn-dark"><i class="fas fa-code-branch"></i>&nbsp;Forks&nbsp;{{repo.forks_count}}</button>
                            </div>
                            <div class="card-footer">
                                    <a href="{{repo.html_url}}" target="_blank"><button class="btn btn-dark" title="View repository">View</button></a>
                            </div>
                        </div>
                    </div>
                </div> -->


 <!-- Footer -->
<footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->               