<!-- navbar -->
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h5 class="text-white h4">Git Search</h5>
            <span class="text-muted">Enter a github username and find the user and get to view repositories.</span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>

<br> <br>
<!-- sub menu -->
<div class="ui grid">
    <div class="four wide column">
            <div class="ui vertical menu">
                    <div class="item">
                        <div class="ui icon input">
                            <input type="text" placeholder="Search user...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                    <div class="item">
                        Home
                    </div>
                    <a class="item">
                        <i class="grid layout icon"></i> Browse Repos
                    </a>
                    <a class="item">
                        Messages
                    </a>
                </div>

              
    </div>
 

</div>